body {
    background-image: url(../svg/test.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    font-weight: 300;
}

header {
    display: grid;
    grid-template-columns: minmax(auto, 0.2fr) minmax(auto, 0.3fr) 1fr;
    grid-column-gap: 20px;
    height: 10%;
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0.3rem;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffffe8;
}
#company-logo {
    padding-top: 2rem;
}

#profile-icon {
    padding-top: 2rem;
    height: 3rem;
    width: 3rem;
}

#messages-icon {
    padding-top: 2rem;
    height: 3rem;
    width: 3rem;
}

#logout-icon {
    padding-top: 2rem;
    height: 3rem;
    width: 3rem;
}

.icon-container {
    right: 0;
    position: absolute;
    padding-right: 2rem;
    grid-column: 3;
    grid-row: 2;
    width: 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

#flights-header{
    margin: 0 auto;
    margin-top: 0.4rem;
    width: fit-content;
    font-size: 2rem;
}

.wrapper {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 35px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 40rem;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
}

ul {
    list-style: none;
    margin: 0;
	padding: 0.3rem 1.5rem 1.5rem 1.5rem;
	columns: 25rem;
	column-gap: 7rem;
	column-rule: 4px dotted turquoise;
	border-radius: 0.5rem;
}

ul a {
    text-decoration: none;
    color: #000000;
    break-inside: avoid;
    padding: 0.6rem;
}

ul > * + * {
	margin-top: 1rem;
}

li {
	break-inside: avoid;
    padding: 0.5rem;
    background-color: #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 10px;
}

li:hover {
    background-color: #999999;
    color: #ffffff;
    cursor: pointer;
}


li span {
	display: block;
}

li span:first-child {
	font-size: 1.5em;
}

li span:last-child {
	font-style: italic;
}


.flight-buttons {
    margin: 0 auto;
    margin-top: 1rem;
    width: fit-content;
}


.flight-button{
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.flight-button:hover{
    background-color: #003cff;
}

.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 9;
    text-align: center;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.form-header {
    margin-bottom: 20px;
}

.form-header h1 {
    font-size: 24px;
    color: #333;
}

.form-class {
    padding-top: 10%;
    width: 300px;
}

.form-class textarea,
.form-class input[type="tel"],
.form-class input[type="email"],
.form-class input[type="text"],
.form-class input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
    resize: vertical
}

.form-class input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

.form-class input[type="radio"] {
    margin-right: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

button,
.form-class input[type="submit"] {
    background-color: #8800ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel {
    background-color: red;
}

button:hover,
.form-class input[type="submit"]:hover {
    background-color: #84016c;
}

.form-container::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

.form-class .form-group {
    position: relative;
}

.form-class .form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
}

.form-class input:focus+label,
.form-class input:valid+label {
    top: -15px;
    transform: scale(0.8);
    color: #333;
}

#main.active {
    filter:blur(10px);
}

#popup.active {
    opacity:1;
    top:50%;
    left:52.5%;
    transform:translate(-50%, -50%) scale(1);
}